code/resources/api-keys.txt
Thesis/Project/thesis/Latexvorlage_BA_Arbeit_einseitig.fdb_latexmk
Thesis/Project/thesis/Latexvorlage_BA_Arbeit_einseitig.fls
Thesis/Project/thesis/Latexvorlage_BA_Arbeit_einseitig.log
Thesis/Project/thesis/Latexvorlage_BA_Arbeit_einseitig.pdf
Thesis/Project/thesis/Latexvorlage_BA_Arbeit_einseitig.synctex.gz
Thesis/Project/thesis/Latexvorlage_BA_Arbeit_einseitig.aux
.gitignore
